@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-sender {
  width: fit-content;
  align-items: flex-end;
  max-width: 150px;
	position: relative;
	background: #3cc83e;
	border-radius: .4em;
  margin-left: 110px;
  filter: drop-shadow(6px 5px 4px #227423);
}


.chat-sender:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 90%;
	width: 0;
	height: 0;
  border: 10px solid transparent;
	border-top-color: #3cc83e;
	border-bottom: 0;
	border-right: 0;
	margin-left: -8.5px;
	margin-bottom: -20px;
  padding-bottom: 12px;
}

.chat-receiver {
  align-items: flex-start;
  width: fit-content;
  max-width: 150px;
	position: relative;
	background: #40a1dd;
	border-radius: .4em;
  filter: drop-shadow(6px 5px 4px #245f85);

}

.chat-receiver:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 16%;
	width: 0;
	height: 0;
  border: 10px solid transparent;
	border-top-color: #40a1dd;
	border-bottom: 0;
	border-left: 0;
	margin-left: -8.5px;
	margin-bottom: -20px;
  padding-bottom: 12px;
}
